.todo-list {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
    list-style: none;
    width: fit-content;
}

.todo-list .complete, .todo-list .incomplete {
    flex: auto;
    flex-wrap: nowrap;   
    border-radius: 10px;
    border: 0.3rem solid black;
}

.todo-list .complete {
    background-color: green;
    filter:brightness(-0.5);
    text-decoration: solid gray line-through;
}

.todo-list .incomplete {
    background-color: whitesmoke;
}
